In [13]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

연도별 데이터 합치기

In [14]:
cj_21 = pd.read_csv('/content/drive/MyDrive/CJ_21 (2).csv')
print(cj_21)

         DL_YMD SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0      20210108        서울특별시          11.0          노원구       11350.0
1      20210108        서울특별시          11.0          노원구       11350.0
2      20210108        서울특별시          11.0          노원구       11350.0
3      20210108        서울특별시          11.0          노원구       11350.0
4      20210108        서울특별시          11.0          노원구       11350.0
...         ...          ...           ...          ...           ...
74420  20210715        서울특별시          11.0          용산구       11170.0
74421  20210715        서울특별시          11.0          용산구       11170.0
74422  20210715        서울특별시          11.0          용산구       11170.0
74423  20210715        서울특별시          11.0          용산구       11170.0
74424  20210715        서울특별시          11.0          용산구       11170.0

      REC_CTPV_NM  REC_CTPV_CD  E_C_01  E_C_02  E_C_03  E_C_04  E_C_05  \
0           부산광역시         26.0    60.0   171.0    22.0    66.0   228.0
1           대구광역시         27.0    42.0   118.0    30.0    52.0   156.0
2           인천광역시         28.0    73.0   221.0    35.0    65.0   230.0
3           광주광역시         29.0    22.0    86.0    15.0    36.0    98.0
4           대전광역시         30.0    37.0    85.0     8.0    31.0   126.0
...           ...          ...     ...     ...     ...     ...     ...
74420       부산광역시         26.0    36.0   403.0    36.0  1577.0   262.0
74421       대구광역시         27.0    24.0   282.0    26.0  1141.0   162.0
74422       인천광역시         28.0    35.0   419.0    55.0  1809.0   208.0
74423       광주광역시         29.0    17.0   189.0    16.0   694.0   119.0
74424           대          NaN     NaN     NaN     NaN     NaN     NaN

       E_C_06  E_C_07  E_C_08  E_C_09  E_C_10  E_C_11  REC_CTGG_NM  \
0        74.0   127.0    45.0   269.0    96.0    98.0          NaN
1        39.0   118.0    36.0   197.0    52.0    53.0          NaN
2        73.0   162.0    49.0   303.0    80.0    89.0          NaN
3        30.0    81.0    23.0   140.0    39.0    46.0          NaN
4        37.0    71.0    36.0   143.0    48.0    50.0          NaN
...       ...     ...     ...     ...     ...     ...          ...
74420    28.0   137.0    19.0   702.0   134.0    58.0          NaN
74421    18.0    91.0    13.0   508.0    97.0    44.0          NaN
74422    31.0   149.0    21.0   653.0   101.0    41.0          NaN
74423    17.0    47.0     9.0   353.0    58.0    24.0          NaN
74424     NaN     NaN     NaN     NaN     NaN     NaN          NaN

       REC_CTGG_CD
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
74420          NaN
74421          NaN
74422          NaN
74423          NaN
74424          NaN

[74425 rows x 20 columns]

In [15]:
new_columns = {'DL_YMD': '배송년월일', 'SEND_CTPV_NM': '발송지_시명','SEND_CTGG_NM': '발송지_구명','SEND_CTGG_CD': '발송지_구코드' ,'SEND_CTPV_CD': '발송지_시코드',  'REC_CTPV_NM':'수신지_시명', 'REC_CTPV_CD': '수신지_시코드', 'REC_CTGG_NM': '수신지_구명', 'REC_CTGG_CD': '수신지_구코드', 'E_C_01': '가구/인테리어', 'E_C_02': '기타', 'E_C_03': '도서/음반','E_C_04': '디지털/가전', 'E_C_05': '생활/건강', 'E_C_06': '스포츠/레저', 'E_C_07': '식품', 'E_C_08': '출산/육아', 'E_C_09': '패션의류', 'E_C_10': '패션잡화', 'E_C_11': '화장품/미용'}
cj_21.rename (columns = new_columns, inplace = True)
print (cj_21)

          배송년월일 발송지_시명  발송지_시코드 발송지_구명  발송지_구코드 수신지_시명  수신지_시코드  가구/인테리어  \
0      20210108  서울특별시     11.0    노원구  11350.0  부산광역시     26.0     60.0
1      20210108  서울특별시     11.0    노원구  11350.0  대구광역시     27.0     42.0
2      20210108  서울특별시     11.0    노원구  11350.0  인천광역시     28.0     73.0
3      20210108  서울특별시     11.0    노원구  11350.0  광주광역시     29.0     22.0
4      20210108  서울특별시     11.0    노원구  11350.0  대전광역시     30.0     37.0
...         ...    ...      ...    ...      ...    ...      ...      ...
74420  20210715  서울특별시     11.0    용산구  11170.0  부산광역시     26.0     36.0
74421  20210715  서울특별시     11.0    용산구  11170.0  대구광역시     27.0     24.0
74422  20210715  서울특별시     11.0    용산구  11170.0  인천광역시     28.0     35.0
74423  20210715  서울특별시     11.0    용산구  11170.0  광주광역시     29.0     17.0
74424  20210715  서울특별시     11.0    용산구  11170.0      대      NaN      NaN

          기타  도서/음반  디지털/가전  생활/건강  스포츠/레저     식품  출산/육아   패션의류   패션잡화  \
0      171.0   22.0    66.0  228.0    74.0  127.0   45.0  269.0   96.0
1      118.0   30.0    52.0  156.0    39.0  118.0   36.0  197.0   52.0
2      221.0   35.0    65.0  230.0    73.0  162.0   49.0  303.0   80.0
3       86.0   15.0    36.0   98.0    30.0   81.0   23.0  140.0   39.0
4       85.0    8.0    31.0  126.0    37.0   71.0   36.0  143.0   48.0
...      ...    ...     ...    ...     ...    ...    ...    ...    ...
74420  403.0   36.0  1577.0  262.0    28.0  137.0   19.0  702.0  134.0
74421  282.0   26.0  1141.0  162.0    18.0   91.0   13.0  508.0   97.0
74422  419.0   55.0  1809.0  208.0    31.0  149.0   21.0  653.0  101.0
74423  189.0   16.0   694.0  119.0    17.0   47.0    9.0  353.0   58.0
74424    NaN    NaN     NaN    NaN     NaN    NaN    NaN    NaN    NaN

       화장품/미용  수신지_구명  수신지_구코드
0        98.0     NaN      NaN
1        53.0     NaN      NaN
2        89.0     NaN      NaN
3        46.0     NaN      NaN
4        50.0     NaN      NaN
...       ...     ...      ...
74420    58.0     NaN      NaN
74421    44.0     NaN      NaN
74422    41.0     NaN      NaN
74423    24.0     NaN      NaN
74424     NaN     NaN      NaN

[74425 rows x 20 columns]

In [36]:
cj_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74425 entries, 0 to 74424
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   배송년월일    74425 non-null  int64
 1   발송지_시명   74425 non-null  object
 2   발송지_시코드  74425 non-null  float64
 3   발송지_구명   74425 non-null  object
 4   발송지_구코드  74425 non-null  float64
 5   수신지_시명   74425 non-null  object
 6   수신지_시코드  74424 non-null  float64
 7   가구/인테리어  74424 non-null  float64
 8   기타       74424 non-null  float64
 9   도서/음반    74424 non-null  float64
 10  디지털/가전   74424 non-null  float64
 11  생활/건강    74424 non-null  float64
 12  스포츠/레저   74424 non-null  float64
 13  식품       74424 non-null  float64
 14  출산/육아    74424 non-null  float64
 15  패션의류     74424 non-null  float64
 16  패션잡화     74424 non-null  float64
 17  화장품/미용   74424 non-null  float64
 18  수신지_구명   0 non-null      float64
 19  수신지_구코드  0 non-null      float64
dtypes: float64(16), int64(1), object(3)
memory usage: 11.4+ MB

In [16]:
cj_22 = pd.read_csv('/content/drive/MyDrive/CJ_22.csv')
print (cj_22)

          DL_YMD SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20220104        서울특별시          11.0          동작구       11590.0
1       20220104        서울특별시          11.0          동작구       11590.0
2       20220104        서울특별시          11.0          동작구       11590.0
3       20220104        서울특별시          11.0          동작구       11590.0
4       20220104        서울특별시          11.0          동작구       11590.0
...          ...          ...           ...          ...           ...
489475  20221230        서울특별시          11.0          강남구       11680.0
489476  20221230        서울특별시          11.0          강남구       11680.0
489477  20221230        서울특별시          11.0          강남구       11680.0
489478  20221230        서울특별시          11.0          강남구       11680.0
489479  20221230        서울특별시          11.0          강남구       11680.0

       REC_CTPV_NM  REC_CTPV_CD  E_C_01  E_C_02  E_C_03  E_C_04  E_C_05  \
0            부산광역시         26.0     0.0  1502.0     0.0     0.0     0.0
1            대구광역시         27.0     0.0  1024.0     0.0     0.0     0.0
2            인천광역시         28.0     0.0  1471.0     0.0     0.0     0.0
3            광주광역시         29.0     0.0   500.0     0.0     0.0     7.0
4            대전광역시         30.0     0.0   704.0     0.0     0.0     0.0
...            ...          ...     ...     ...     ...     ...     ...
489475       서울특별시         11.0    12.0    84.0    70.0    27.0    50.0
489476       서울특별시         11.0    19.0   142.0    87.0    30.0    85.0
489477       서울특별시         11.0    20.0   282.0   152.0    60.0   142.0
489478       서울특별시         11.0    12.0   158.0   118.0    36.0   102.0
489479       서울특별시         11.0    11.0    61.0    32.0    33.0    47.0

        E_C_06  E_C_07  E_C_08  E_C_09  E_C_10  E_C_11 REC_CTGG_NM  \
0          0.0    15.0     0.0     0.0     0.0     0.0         NaN
1          0.0     0.0     0.0     0.0     0.0     0.0         NaN
2          0.0     0.0     0.0     0.0     0.0     0.0         NaN
3          0.0    17.0     0.0     0.0     0.0     0.0         NaN
4          0.0     0.0     0.0     0.0     0.0     0.0         NaN
...        ...     ...     ...     ...     ...     ...         ...
489475    14.0   111.0     4.0   229.0    85.0    55.0         관악구
489476    15.0   158.0     9.0   245.0    79.0   139.0         서초구
489477    23.0   289.0    11.0   436.0   163.0   224.0         강남구
489478    23.0   184.0     0.0   321.0   116.0   188.0         송파구
489479     9.0    83.0     5.0   175.0    78.0    36.0         강동구

        REC_CTGG_CD
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
489475      11620.0
489476      11650.0
489477      11680.0
489478      11710.0
489479      11740.0

[489480 rows x 20 columns]

<ipython-input-16-c6e484028749>:1: DtypeWarning: Columns (3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  cj_22 = pd.read_csv('/content/drive/MyDrive/CJ_22.csv')

In [17]:
new_columns = {'DL_YMD': '배송년월일', 'SEND_CTPV_NM': '발송지_시명','SEND_CTGG_NM': '발송지_구명','SEND_CTGG_CD': '발송지_구코드' ,'SEND_CTPV_CD': '발송지_시코드',  'REC_CTPV_NM':'수신지_시명', 'REC_CTPV_CD': '수신지_시코드', 'REC_CTGG_NM': '수신지_구명', 'REC_CTGG_CD': '수신지_구코드', 'E_C_01': '가구/인테리어', 'E_C_02': '기타', 'E_C_03': '도서/음반','E_C_04': '디지털/가전', 'E_C_05': '생활/건강', 'E_C_06': '스포츠/레저', 'E_C_07': '식품', 'E_C_08': '출산/육아', 'E_C_09': '패션의류', 'E_C_10': '패션잡화', 'E_C_11': '화장품/미용'}
cj_22.rename (columns = new_columns, inplace = True)
print (cj_22)

           배송년월일 발송지_시명  발송지_시코드 발송지_구명  발송지_구코드 수신지_시명  수신지_시코드  가구/인테리어  \
0       20220104  서울특별시     11.0    동작구  11590.0  부산광역시     26.0      0.0
1       20220104  서울특별시     11.0    동작구  11590.0  대구광역시     27.0      0.0
2       20220104  서울특별시     11.0    동작구  11590.0  인천광역시     28.0      0.0
3       20220104  서울특별시     11.0    동작구  11590.0  광주광역시     29.0      0.0
4       20220104  서울특별시     11.0    동작구  11590.0  대전광역시     30.0      0.0
...          ...    ...      ...    ...      ...    ...      ...      ...
489475  20221230  서울특별시     11.0    강남구  11680.0  서울특별시     11.0     12.0
489476  20221230  서울특별시     11.0    강남구  11680.0  서울특별시     11.0     19.0
489477  20221230  서울특별시     11.0    강남구  11680.0  서울특별시     11.0     20.0
489478  20221230  서울특별시     11.0    강남구  11680.0  서울특별시     11.0     12.0
489479  20221230  서울특별시     11.0    강남구  11680.0  서울특별시     11.0     11.0

            기타  도서/음반  디지털/가전  생활/건강  스포츠/레저     식품  출산/육아   패션의류   패션잡화  \
0       1502.0    0.0     0.0    0.0     0.0   15.0    0.0    0.0    0.0
1       1024.0    0.0     0.0    0.0     0.0    0.0    0.0    0.0    0.0
2       1471.0    0.0     0.0    0.0     0.0    0.0    0.0    0.0    0.0
3        500.0    0.0     0.0    7.0     0.0   17.0    0.0    0.0    0.0
4        704.0    0.0     0.0    0.0     0.0    0.0    0.0    0.0    0.0
...        ...    ...     ...    ...     ...    ...    ...    ...    ...
489475    84.0   70.0    27.0   50.0    14.0  111.0    4.0  229.0   85.0
489476   142.0   87.0    30.0   85.0    15.0  158.0    9.0  245.0   79.0
489477   282.0  152.0    60.0  142.0    23.0  289.0   11.0  436.0  163.0
489478   158.0  118.0    36.0  102.0    23.0  184.0    0.0  321.0  116.0
489479    61.0   32.0    33.0   47.0     9.0   83.0    5.0  175.0   78.0

        화장품/미용 수신지_구명  수신지_구코드
0          0.0    NaN      NaN
1          0.0    NaN      NaN
2          0.0    NaN      NaN
3          0.0    NaN      NaN
4          0.0    NaN      NaN
...        ...    ...      ...
489475    55.0    관악구  11620.0
489476   139.0    서초구  11650.0
489477   224.0    강남구  11680.0
489478   188.0    송파구  11710.0
489479    36.0    강동구  11740.0

[489480 rows x 20 columns]

In [37]:
cj_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489480 entries, 0 to 489479
Data columns (total 20 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   배송년월일    489480 non-null  int64
 1   발송지_시명   489480 non-null  object
 2   발송지_시코드  489480 non-null  float64
 3   발송지_구명   346953 non-null  object
 4   발송지_구코드  346953 non-null  float64
 5   수신지_시명   489480 non-null  object
 6   수신지_시코드  489480 non-null  float64
 7   가구/인테리어  489480 non-null  float64
 8   기타       489480 non-null  float64
 9   도서/음반    489480 non-null  float64
 10  디지털/가전   489480 non-null  float64
 11  생활/건강    489480 non-null  float64
 12  스포츠/레저   489480 non-null  float64
 13  식품       489480 non-null  float64
 14  출산/육아    489480 non-null  float64
 15  패션의류     489480 non-null  float64
 16  패션잡화     489480 non-null  float64
 17  화장품/미용   489480 non-null  float64
 18  수신지_구명   352371 non-null  object
 19  수신지_구코드  352371 non-null  float64
dtypes: float64(15), int64(1), object(4)
memory usage: 74.7+ MB

In [18]:
cj_23 = pd.read_csv('/content/drive/MyDrive/CJ_23.csv')
print(cj_23)

          DL_YMD SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20230109        서울특별시          11.0          광진구       11215.0
1       20230109        서울특별시          11.0          광진구       11215.0
2       20230109        서울특별시          11.0          광진구       11215.0
3       20230109        서울특별시          11.0          광진구       11215.0
4       20230109        서울특별시          11.0          광진구       11215.0
...          ...          ...           ...          ...           ...
323351  20230831        서울특별시          11.0          양천구       11470.0
323352  20230831        서울특별시          11.0          양천구       11470.0
323353  20230831        서울특별시          11.0          양천구       11470.0
323354  20230831        서울특별시          11.0          양천구       11470.0
323355  20230831        서울특별시          11.0          양천구       11470.0

       REC_CTPV_NM  REC_CTPV_CD  E_C_01  E_C_02  E_C_03  E_C_04  E_C_05  \
0            부산광역시         26.0    47.0   290.0    55.0   206.0   441.0
1            대구광역시         27.0    52.0   221.0    39.0   137.0   278.0
2            인천광역시         28.0    64.0   304.0    64.0   213.0   423.0
3            광주광역시         29.0    28.0   143.0    23.0   103.0   216.0
4            대전광역시         30.0    31.0   151.0    25.0   109.0   201.0
...            ...          ...     ...     ...     ...     ...     ...
323351       서울특별시         11.0     0.0    21.0     7.0    18.0    27.0
323352       서울특별시         11.0     0.0    16.0    11.0    29.0    28.0
323353       서울특별시         11.0     3.0    35.0    16.0    17.0    44.0
323354       서울특별시         11.0     5.0    28.0    10.0    20.0    30.0
323355       서울특별시         11.0     4.0    10.0     4.0    12.0    19.0

        E_C_06  E_C_07  E_C_08  E_C_09  E_C_10  E_C_11 REC_CTGG_NM  \
0         82.0   206.0    81.0   635.0   406.0    89.0         NaN
1         67.0   152.0    45.0   434.0   339.0    74.0         NaN
2         93.0   200.0    90.0   639.0   447.0    78.0         NaN
3         40.0    98.0    42.0   336.0   219.0    30.0         NaN
4         53.0    78.0    37.0   305.0   177.0    44.0         NaN
...        ...     ...     ...     ...     ...     ...         ...
323351     3.0    10.0     0.0    13.0    19.0     9.0         관악구
323352     4.0     7.0     0.0    16.0    17.0     5.0         서초구
323353    11.0    10.0    17.0    29.0    37.0    25.0         강남구
323354     4.0    13.0     0.0    24.0    20.0    27.0         송파구
323355     0.0     8.0     0.0    14.0    11.0    13.0         강동구

        REC_CTGG_CD
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
323351      11620.0
323352      11650.0
323353      11680.0
323354      11710.0
323355      11740.0

[323356 rows x 20 columns]

<ipython-input-18-3e1420ab2e3a>:1: DtypeWarning: Columns (3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  cj_23 = pd.read_csv('/content/drive/MyDrive/CJ_23.csv')

In [19]:
new_columns = {'DL_YMD': '배송년월일', 'SEND_CTPV_NM': '발송지_시명','SEND_CTGG_NM': '발송지_구명','SEND_CTGG_CD': '발송지_구코드' ,'SEND_CTPV_CD': '발송지_시코드',  'REC_CTPV_NM':'수신지_시명', 'REC_CTPV_CD': '수신지_시코드', 'REC_CTGG_NM': '수신지_구명', 'REC_CTGG_CD': '수신지_구코드', 'E_C_01': '가구/인테리어', 'E_C_02': '기타', 'E_C_03': '도서/음반','E_C_04': '디지털/가전', 'E_C_05': '생활/건강', 'E_C_06': '스포츠/레저', 'E_C_07': '식품', 'E_C_08': '출산/육아', 'E_C_09': '패션의류', 'E_C_10': '패션잡화', 'E_C_11': '화장품/미용'}
cj_23.rename (columns = new_columns, inplace = True)
print (cj_23)

           배송년월일 발송지_시명  발송지_시코드 발송지_구명  발송지_구코드 수신지_시명  수신지_시코드  가구/인테리어  \
0       20230109  서울특별시     11.0    광진구  11215.0  부산광역시     26.0     47.0
1       20230109  서울특별시     11.0    광진구  11215.0  대구광역시     27.0     52.0
2       20230109  서울특별시     11.0    광진구  11215.0  인천광역시     28.0     64.0
3       20230109  서울특별시     11.0    광진구  11215.0  광주광역시     29.0     28.0
4       20230109  서울특별시     11.0    광진구  11215.0  대전광역시     30.0     31.0
...          ...    ...      ...    ...      ...    ...      ...      ...
323351  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      0.0
323352  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      0.0
323353  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      3.0
323354  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      5.0
323355  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      4.0

           기타  도서/음반  디지털/가전  생활/건강  스포츠/레저     식품  출산/육아   패션의류   패션잡화  \
0       290.0   55.0   206.0  441.0    82.0  206.0   81.0  635.0  406.0
1       221.0   39.0   137.0  278.0    67.0  152.0   45.0  434.0  339.0
2       304.0   64.0   213.0  423.0    93.0  200.0   90.0  639.0  447.0
3       143.0   23.0   103.0  216.0    40.0   98.0   42.0  336.0  219.0
4       151.0   25.0   109.0  201.0    53.0   78.0   37.0  305.0  177.0
...       ...    ...     ...    ...     ...    ...    ...    ...    ...
323351   21.0    7.0    18.0   27.0     3.0   10.0    0.0   13.0   19.0
323352   16.0   11.0    29.0   28.0     4.0    7.0    0.0   16.0   17.0
323353   35.0   16.0    17.0   44.0    11.0   10.0   17.0   29.0   37.0
323354   28.0   10.0    20.0   30.0     4.0   13.0    0.0   24.0   20.0
323355   10.0    4.0    12.0   19.0     0.0    8.0    0.0   14.0   11.0

        화장품/미용 수신지_구명  수신지_구코드
0         89.0    NaN      NaN
1         74.0    NaN      NaN
2         78.0    NaN      NaN
3         30.0    NaN      NaN
4         44.0    NaN      NaN
...        ...    ...      ...
323351     9.0    관악구  11620.0
323352     5.0    서초구  11650.0
323353    25.0    강남구  11680.0
323354    27.0    송파구  11710.0
323355    13.0    강동구  11740.0

[323356 rows x 20 columns]

In [20]:
cj_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323356 entries, 0 to 323355
Data columns (total 20 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   배송년월일    323356 non-null  int64
 1   발송지_시명   323356 non-null  object
 2   발송지_시코드  323356 non-null  float64
 3   발송지_구명   228617 non-null  object
 4   발송지_구코드  228617 non-null  float64
 5   수신지_시명   323356 non-null  object
 6   수신지_시코드  323356 non-null  float64
 7   가구/인테리어  323356 non-null  float64
 8   기타       323356 non-null  float64
 9   도서/음반    323356 non-null  float64
 10  디지털/가전   323356 non-null  float64
 11  생활/건강    323356 non-null  float64
 12  스포츠/레저   323356 non-null  float64
 13  식품       323356 non-null  float64
 14  출산/육아    323356 non-null  float64
 15  패션의류     323356 non-null  float64
 16  패션잡화     323356 non-null  float64
 17  화장품/미용   323356 non-null  float64
 18  수신지_구명   233095 non-null  object
 19  수신지_구코드  233095 non-null  float64
dtypes: float64(15), int64(1), object(4)
memory usage: 49.3+ MB

In [21]:
concatenated_df = pd.concat([cj_21, cj_22, cj_23], ignore_index=True)
print (concatenated_df)

           배송년월일 발송지_시명  발송지_시코드 발송지_구명  발송지_구코드 수신지_시명  수신지_시코드  가구/인테리어  \
0       20210108  서울특별시     11.0    노원구  11350.0  부산광역시     26.0     60.0
1       20210108  서울특별시     11.0    노원구  11350.0  대구광역시     27.0     42.0
2       20210108  서울특별시     11.0    노원구  11350.0  인천광역시     28.0     73.0
3       20210108  서울특별시     11.0    노원구  11350.0  광주광역시     29.0     22.0
4       20210108  서울특별시     11.0    노원구  11350.0  대전광역시     30.0     37.0
...          ...    ...      ...    ...      ...    ...      ...      ...
887256  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      0.0
887257  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      0.0
887258  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      3.0
887259  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      5.0
887260  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      4.0

           기타  도서/음반  디지털/가전  생활/건강  스포츠/레저     식품  출산/육아   패션의류  패션잡화  \
0       171.0   22.0    66.0  228.0    74.0  127.0   45.0  269.0  96.0
1       118.0   30.0    52.0  156.0    39.0  118.0   36.0  197.0  52.0
2       221.0   35.0    65.0  230.0    73.0  162.0   49.0  303.0  80.0
3        86.0   15.0    36.0   98.0    30.0   81.0   23.0  140.0  39.0
4        85.0    8.0    31.0  126.0    37.0   71.0   36.0  143.0  48.0
...       ...    ...     ...    ...     ...    ...    ...    ...   ...
887256   21.0    7.0    18.0   27.0     3.0   10.0    0.0   13.0  19.0
887257   16.0   11.0    29.0   28.0     4.0    7.0    0.0   16.0  17.0
887258   35.0   16.0    17.0   44.0    11.0   10.0   17.0   29.0  37.0
887259   28.0   10.0    20.0   30.0     4.0   13.0    0.0   24.0  20.0
887260   10.0    4.0    12.0   19.0     0.0    8.0    0.0   14.0  11.0

        화장품/미용 수신지_구명  수신지_구코드
0         98.0    NaN      NaN
1         53.0    NaN      NaN
2         89.0    NaN      NaN
3         46.0    NaN      NaN
4         50.0    NaN      NaN
...        ...    ...      ...
887256     9.0    관악구  11620.0
887257     5.0    서초구  11650.0
887258    25.0    강남구  11680.0
887259    27.0    송파구  11710.0
887260    13.0    강동구  11740.0

[887261 rows x 20 columns]

In [22]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887261 entries, 0 to 887260
Data columns (total 20 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   배송년월일    887261 non-null  int64
 1   발송지_시명   887261 non-null  object
 2   발송지_시코드  887261 non-null  float64
 3   발송지_구명   649995 non-null  object
 4   발송지_구코드  649995 non-null  float64
 5   수신지_시명   887261 non-null  object
 6   수신지_시코드  887260 non-null  float64
 7   가구/인테리어  887260 non-null  float64
 8   기타       887260 non-null  float64
 9   도서/음반    887260 non-null  float64
 10  디지털/가전   887260 non-null  float64
 11  생활/건강    887260 non-null  float64
 12  스포츠/레저   887260 non-null  float64
 13  식품       887260 non-null  float64
 14  출산/육아    887260 non-null  float64
 15  패션의류     887260 non-null  float64
 16  패션잡화     887260 non-null  float64
 17  화장품/미용   887260 non-null  float64
 18  수신지_구명   585466 non-null  object
 19  수신지_구코드  585466 non-null  float64
dtypes: float64(15), int64(1), object(4)
memory usage: 135.4+ MB

In [23]:
concatenated_df['DL_YMD'].max()

KeyError: ignored

In [13]:
new_columns = {'DL_YMD': '배송년월일', 'SEND_CTPV_NM': '발송지_시명','SEND_CTGG_NM': '발송지_구명','SEND_CTGG_CD': '발송지_구코드' ,'SEND_CTPV_CD': '발송지_시코드',  'REC_CTPV_NM':'수신지_시명', 'REC_CTPV_CD': '수신지_시코드', 'REC_CTGG_NM': '수신지_구명', 'REC_CTGG_CD': '수신지_구코드', 'E_C_01': '가구/인테리어', 'E_C_02': '기타', 'E_C_03': '도서/음반','E_C_04': '디지털/가전', 'E_C_05': '생활/건강', 'E_C_06': '스포츠/레저', 'E_C_07': '식품', 'E_C_08': '출산/육아', 'E_C_09': '패션의류', 'E_C_10': '패션잡화', 'E_C_11': '화장품/미용'}
concatenated_df.rename (columns = new_columns, inplace = True)
print (concatenated_df)

           배송년월일 발송지_시명  발송지_시코드 발송지_구명  발송지_구코드 수신지_시명  수신지_시코드  가구/인테리어  \
0       20210108  서울특별시     11.0    노원구  11350.0  부산광역시     26.0     60.0
1       20210108  서울특별시     11.0    노원구  11350.0  대구광역시     27.0     42.0
2       20210108  서울특별시     11.0    노원구  11350.0  인천광역시     28.0     73.0
3       20210108  서울특별시     11.0    노원구  11350.0  광주광역시     29.0     22.0
4       20210108  서울특별시     11.0    노원구  11350.0  대전광역시     30.0     37.0
...          ...    ...      ...    ...      ...    ...      ...      ...
887256  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      0.0
887257  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      0.0
887258  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      3.0
887259  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      5.0
887260  20230831  서울특별시     11.0    양천구  11470.0  서울특별시     11.0      4.0

           기타  도서/음반  디지털/가전  생활/건강  스포츠/레저     식품  출산/육아   패션의류  패션잡화  \
0       171.0   22.0    66.0  228.0    74.0  127.0   45.0  269.0  96.0
1       118.0   30.0    52.0  156.0    39.0  118.0   36.0  197.0  52.0
2       221.0   35.0    65.0  230.0    73.0  162.0   49.0  303.0  80.0
3        86.0   15.0    36.0   98.0    30.0   81.0   23.0  140.0  39.0
4        85.0    8.0    31.0  126.0    37.0   71.0   36.0  143.0  48.0
...       ...    ...     ...    ...     ...    ...    ...    ...   ...
887256   21.0    7.0    18.0   27.0     3.0   10.0    0.0   13.0  19.0
887257   16.0   11.0    29.0   28.0     4.0    7.0    0.0   16.0  17.0
887258   35.0   16.0    17.0   44.0    11.0   10.0   17.0   29.0  37.0
887259   28.0   10.0    20.0   30.0     4.0   13.0    0.0   24.0  20.0
887260   10.0    4.0    12.0   19.0     0.0    8.0    0.0   14.0  11.0

        화장품/미용 수신지_구명  수신지_구코드
0         98.0    NaN      NaN
1         53.0    NaN      NaN
2         89.0    NaN      NaN
3         46.0    NaN      NaN
4         50.0    NaN      NaN
...        ...    ...      ...
887256     9.0    관악구  11620.0
887257     5.0    서초구  11650.0
887258    25.0    강남구  11680.0
887259    27.0    송파구  11710.0
887260    13.0    강동구  11740.0

[887261 rows x 20 columns]

In [24]:
new_columns = {'배송년월일': 'DATE', '발송지_시명': 'SEND_CTPV_NM','발송지_구명': 'SEND_CTGG_NM','발송지_구코드': 'SEND_CTGG_CD' ,'발송지_시코드': 'SEND_CTPV_CD',  '수신지_시명':'REC_CTPV_NM', '수신지_시코드': 'REC_CTPV_CD', '수신지_구명': 'REC_CTGG_NM', '수신지_구코드': 'REC_CTGG_CD', '가구/인테리어': 'FURNITURE/INTERIOR', '기타': 'ETC', '도서/음반': 'BOOK/RECORD','디지털/가전': 'DITIGAL/HOME APPLIANCE', '생활/건강': 'LIFE/HEALTH', '스포츠/레저': 'SPORTS', '식품': 'FOOD', '출산/육아': 'MATERNITY SUPPLIES', '패션의류': 'CLOTHING', '패션잡화': 'MISCELLANEOUS GOODS', '화장품/미용': 'COSTMETICS/BEAUTY', '총물량': 'TOTAL'}
concatenated_df.rename (columns = new_columns, inplace = True)
print (concatenated_df)

            DATE SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20210108        서울특별시          11.0          노원구       11350.0
1       20210108        서울특별시          11.0          노원구       11350.0
2       20210108        서울특별시          11.0          노원구       11350.0
3       20210108        서울특별시          11.0          노원구       11350.0
4       20210108        서울특별시          11.0          노원구       11350.0
...          ...          ...           ...          ...           ...
887256  20230831        서울특별시          11.0          양천구       11470.0
887257  20230831        서울특별시          11.0          양천구       11470.0
887258  20230831        서울특별시          11.0          양천구       11470.0
887259  20230831        서울특별시          11.0          양천구       11470.0
887260  20230831        서울특별시          11.0          양천구       11470.0

       REC_CTPV_NM  REC_CTPV_CD  FURNITURE/INTERIOR    ETC  BOOK/RECORD  \
0            부산광역시         26.0                60.0  171.0         22.0
1            대구광역시         27.0                42.0  118.0         30.0
2            인천광역시         28.0                73.0  221.0         35.0
3            광주광역시         29.0                22.0   86.0         15.0
4            대전광역시         30.0                37.0   85.0          8.0
...            ...          ...                 ...    ...          ...
887256       서울특별시         11.0                 0.0   21.0          7.0
887257       서울특별시         11.0                 0.0   16.0         11.0
887258       서울특별시         11.0                 3.0   35.0         16.0
887259       서울특별시         11.0                 5.0   28.0         10.0
887260       서울특별시         11.0                 4.0   10.0          4.0

        DITIGAL/HOME APPLIANCE  LIFE/HEALTH  SPORTS   FOOD  \
0                         66.0        228.0    74.0  127.0
1                         52.0        156.0    39.0  118.0
2                         65.0        230.0    73.0  162.0
3                         36.0         98.0    30.0   81.0
4                         31.0        126.0    37.0   71.0
...                        ...          ...     ...    ...
887256                    18.0         27.0     3.0   10.0
887257                    29.0         28.0     4.0    7.0
887258                    17.0         44.0    11.0   10.0
887259                    20.0         30.0     4.0   13.0
887260                    12.0         19.0     0.0    8.0

        MATERNITY SUPPLIES  CLOTHING  MISCELLANEOUS GOODS  COSTMETICS/BEAUTY  \
0                     45.0     269.0                 96.0               98.0
1                     36.0     197.0                 52.0               53.0
2                     49.0     303.0                 80.0               89.0
3                     23.0     140.0                 39.0               46.0
4                     36.0     143.0                 48.0               50.0
...                    ...       ...                  ...                ...
887256                 0.0      13.0                 19.0                9.0
887257                 0.0      16.0                 17.0                5.0
887258                17.0      29.0                 37.0               25.0
887259                 0.0      24.0                 20.0               27.0
887260                 0.0      14.0                 11.0               13.0

       REC_CTGG_NM  REC_CTGG_CD
0              NaN          NaN
1              NaN          NaN
2              NaN          NaN
3              NaN          NaN
4              NaN          NaN
...            ...          ...
887256         관악구      11620.0
887257         서초구      11650.0
887258         강남구      11680.0
887259         송파구      11710.0
887260         강동구      11740.0

[887261 rows x 20 columns]

In [25]:
concatenated_df['DATE'].max()

20230831

In [26]:
columns_to_sum = ['FURNITURE/INTERIOR','ETC', 'BOOK/RECORD', 'DITIGAL/HOME APPLIANCE', 'LIFE/HEALTH', 'SPORTS', 'FOOD', 'MATERNITY SUPPLIES', 'CLOTHING', 'MISCELLANEOUS GOODS', 'COSTMETICS/BEAUTY']
concatenated_df['TOTAL'] = concatenated_df[columns_to_sum].sum(axis=1)
print (concatenated_df)

            DATE SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20210108        서울특별시          11.0          노원구       11350.0
1       20210108        서울특별시          11.0          노원구       11350.0
2       20210108        서울특별시          11.0          노원구       11350.0
3       20210108        서울특별시          11.0          노원구       11350.0
4       20210108        서울특별시          11.0          노원구       11350.0
...          ...          ...           ...          ...           ...
887256  20230831        서울특별시          11.0          양천구       11470.0
887257  20230831        서울특별시          11.0          양천구       11470.0
887258  20230831        서울특별시          11.0          양천구       11470.0
887259  20230831        서울특별시          11.0          양천구       11470.0
887260  20230831        서울특별시          11.0          양천구       11470.0

       REC_CTPV_NM  REC_CTPV_CD  FURNITURE/INTERIOR    ETC  BOOK/RECORD  ...  \
0            부산광역시         26.0                60.0  171.0         22.0  ...
1            대구광역시         27.0                42.0  118.0         30.0  ...
2            인천광역시         28.0                73.0  221.0         35.0  ...
3            광주광역시         29.0                22.0   86.0         15.0  ...
4            대전광역시         30.0                37.0   85.0          8.0  ...
...            ...          ...                 ...    ...          ...  ...
887256       서울특별시         11.0                 0.0   21.0          7.0  ...
887257       서울특별시         11.0                 0.0   16.0         11.0  ...
887258       서울특별시         11.0                 3.0   35.0         16.0  ...
887259       서울특별시         11.0                 5.0   28.0         10.0  ...
887260       서울특별시         11.0                 4.0   10.0          4.0  ...

        LIFE/HEALTH  SPORTS   FOOD  MATERNITY SUPPLIES  CLOTHING  \
0             228.0    74.0  127.0                45.0     269.0
1             156.0    39.0  118.0                36.0     197.0
2             230.0    73.0  162.0                49.0     303.0
3              98.0    30.0   81.0                23.0     140.0
4             126.0    37.0   71.0                36.0     143.0
...             ...     ...    ...                 ...       ...
887256         27.0     3.0   10.0                 0.0      13.0
887257         28.0     4.0    7.0                 0.0      16.0
887258         44.0    11.0   10.0                17.0      29.0
887259         30.0     4.0   13.0                 0.0      24.0
887260         19.0     0.0    8.0                 0.0      14.0

        MISCELLANEOUS GOODS  COSTMETICS/BEAUTY  REC_CTGG_NM REC_CTGG_CD  \
0                      96.0               98.0          NaN         NaN
1                      52.0               53.0          NaN         NaN
2                      80.0               89.0          NaN         NaN
3                      39.0               46.0          NaN         NaN
4                      48.0               50.0          NaN         NaN
...                     ...                ...          ...         ...
887256                 19.0                9.0          관악구     11620.0
887257                 17.0                5.0          서초구     11650.0
887258                 37.0               25.0          강남구     11680.0
887259                 20.0               27.0          송파구     11710.0
887260                 11.0               13.0          강동구     11740.0

         TOTAL
0       1256.0
1        893.0
2       1380.0
3        616.0
4        672.0
...        ...
887256   127.0
887257   133.0
887258   244.0
887259   181.0
887260    95.0

[887261 rows x 21 columns]

In [27]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887261 entries, 0 to 887260
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DATE                    887261 non-null  int64
 1   SEND_CTPV_NM            887261 non-null  object
 2   SEND_CTPV_CD            887261 non-null  float64
 3   SEND_CTGG_NM            649995 non-null  object
 4   SEND_CTGG_CD            649995 non-null  float64
 5   REC_CTPV_NM             887261 non-null  object
 6   REC_CTPV_CD             887260 non-null  float64
 7   FURNITURE/INTERIOR      887260 non-null  float64
 8   ETC                     887260 non-null  float64
 9   BOOK/RECORD             887260 non-null  float64
 10  DITIGAL/HOME APPLIANCE  887260 non-null  float64
 11  LIFE/HEALTH             887260 non-null  float64
 12  SPORTS                  887260 non-null  float64
 13  FOOD                    887260 non-null  float64
 14  MATERNITY SUPPLIES      887260 non-null  float64
 15  CLOTHING                887260 non-null  float64
 16  MISCELLANEOUS GOODS     887260 non-null  float64
 17  COSTMETICS/BEAUTY       887260 non-null  float64
 18  REC_CTGG_NM             585466 non-null  object
 19  REC_CTGG_CD             585466 non-null  float64
 20  TOTAL                   887261 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 142.2+ MB

In [28]:
concatenated_df['SEND_CTPV_NM'] = concatenated_df['SEND_CTPV_NM'].replace(0, pd.NA)
concatenated_df['SEND_CTPV_NM'] = concatenated_df['SEND_CTPV_NM'].astype(str)
print (concatenated_df)

            DATE SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20210108        서울특별시          11.0          노원구       11350.0
1       20210108        서울특별시          11.0          노원구       11350.0
2       20210108        서울특별시          11.0          노원구       11350.0
3       20210108        서울특별시          11.0          노원구       11350.0
4       20210108        서울특별시          11.0          노원구       11350.0
...          ...          ...           ...          ...           ...
887256  20230831        서울특별시          11.0          양천구       11470.0
887257  20230831        서울특별시          11.0          양천구       11470.0
887258  20230831        서울특별시          11.0          양천구       11470.0
887259  20230831        서울특별시          11.0          양천구       11470.0
887260  20230831        서울특별시          11.0          양천구       11470.0

       REC_CTPV_NM  REC_CTPV_CD  FURNITURE/INTERIOR    ETC  BOOK/RECORD  ...  \
0            부산광역시         26.0                60.0  171.0         22.0  ...
1            대구광역시         27.0                42.0  118.0         30.0  ...
2            인천광역시         28.0                73.0  221.0         35.0  ...
3            광주광역시         29.0                22.0   86.0         15.0  ...
4            대전광역시         30.0                37.0   85.0          8.0  ...
...            ...          ...                 ...    ...          ...  ...
887256       서울특별시         11.0                 0.0   21.0          7.0  ...
887257       서울특별시         11.0                 0.0   16.0         11.0  ...
887258       서울특별시         11.0                 3.0   35.0         16.0  ...
887259       서울특별시         11.0                 5.0   28.0         10.0  ...
887260       서울특별시         11.0                 4.0   10.0          4.0  ...

        LIFE/HEALTH  SPORTS   FOOD  MATERNITY SUPPLIES  CLOTHING  \
0             228.0    74.0  127.0                45.0     269.0
1             156.0    39.0  118.0                36.0     197.0
2             230.0    73.0  162.0                49.0     303.0
3              98.0    30.0   81.0                23.0     140.0
4             126.0    37.0   71.0                36.0     143.0
...             ...     ...    ...                 ...       ...
887256         27.0     3.0   10.0                 0.0      13.0
887257         28.0     4.0    7.0                 0.0      16.0
887258         44.0    11.0   10.0                17.0      29.0
887259         30.0     4.0   13.0                 0.0      24.0
887260         19.0     0.0    8.0                 0.0      14.0

        MISCELLANEOUS GOODS  COSTMETICS/BEAUTY  REC_CTGG_NM REC_CTGG_CD  \
0                      96.0               98.0          NaN         NaN
1                      52.0               53.0          NaN         NaN
2                      80.0               89.0          NaN         NaN
3                      39.0               46.0          NaN         NaN
4                      48.0               50.0          NaN         NaN
...                     ...                ...          ...         ...
887256                 19.0                9.0          관악구     11620.0
887257                 17.0                5.0          서초구     11650.0
887258                 37.0               25.0          강남구     11680.0
887259                 20.0               27.0          송파구     11710.0
887260                 11.0               13.0          강동구     11740.0

         TOTAL
0       1256.0
1        893.0
2       1380.0
3        616.0
4        672.0
...        ...
887256   127.0
887257   133.0
887258   244.0
887259   181.0
887260    95.0

[887261 rows x 21 columns]

In [29]:
concatenated_df['REC_CTPV_NM'] = concatenated_df['REC_CTPV_NM'].replace(0, pd.NA)
concatenated_df['REC_CTPV_NM'] = concatenated_df['REC_CTPV_NM'].astype(str)
print(concatenated_df)

            DATE SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20210108        서울특별시          11.0          노원구       11350.0
1       20210108        서울특별시          11.0          노원구       11350.0
2       20210108        서울특별시          11.0          노원구       11350.0
3       20210108        서울특별시          11.0          노원구       11350.0
4       20210108        서울특별시          11.0          노원구       11350.0
...          ...          ...           ...          ...           ...
887256  20230831        서울특별시          11.0          양천구       11470.0
887257  20230831        서울특별시          11.0          양천구       11470.0
887258  20230831        서울특별시          11.0          양천구       11470.0
887259  20230831        서울특별시          11.0          양천구       11470.0
887260  20230831        서울특별시          11.0          양천구       11470.0

       REC_CTPV_NM  REC_CTPV_CD  FURNITURE/INTERIOR    ETC  BOOK/RECORD  ...  \
0            부산광역시         26.0                60.0  171.0         22.0  ...
1            대구광역시         27.0                42.0  118.0         30.0  ...
2            인천광역시         28.0                73.0  221.0         35.0  ...
3            광주광역시         29.0                22.0   86.0         15.0  ...
4            대전광역시         30.0                37.0   85.0          8.0  ...
...            ...          ...                 ...    ...          ...  ...
887256       서울특별시         11.0                 0.0   21.0          7.0  ...
887257       서울특별시         11.0                 0.0   16.0         11.0  ...
887258       서울특별시         11.0                 3.0   35.0         16.0  ...
887259       서울특별시         11.0                 5.0   28.0         10.0  ...
887260       서울특별시         11.0                 4.0   10.0          4.0  ...

        LIFE/HEALTH  SPORTS   FOOD  MATERNITY SUPPLIES  CLOTHING  \
0             228.0    74.0  127.0                45.0     269.0
1             156.0    39.0  118.0                36.0     197.0
2             230.0    73.0  162.0                49.0     303.0
3              98.0    30.0   81.0                23.0     140.0
4             126.0    37.0   71.0                36.0     143.0
...             ...     ...    ...                 ...       ...
887256         27.0     3.0   10.0                 0.0      13.0
887257         28.0     4.0    7.0                 0.0      16.0
887258         44.0    11.0   10.0                17.0      29.0
887259         30.0     4.0   13.0                 0.0      24.0
887260         19.0     0.0    8.0                 0.0      14.0

        MISCELLANEOUS GOODS  COSTMETICS/BEAUTY  REC_CTGG_NM REC_CTGG_CD  \
0                      96.0               98.0          NaN         NaN
1                      52.0               53.0          NaN         NaN
2                      80.0               89.0          NaN         NaN
3                      39.0               46.0          NaN         NaN
4                      48.0               50.0          NaN         NaN
...                     ...                ...          ...         ...
887256                 19.0                9.0          관악구     11620.0
887257                 17.0                5.0          서초구     11650.0
887258                 37.0               25.0          강남구     11680.0
887259                 20.0               27.0          송파구     11710.0
887260                 11.0               13.0          강동구     11740.0

         TOTAL
0       1256.0
1        893.0
2       1380.0
3        616.0
4        672.0
...        ...
887256   127.0
887257   133.0
887258   244.0
887259   181.0
887260    95.0

[887261 rows x 21 columns]

In [30]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887261 entries, 0 to 887260
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DATE                    887261 non-null  int64
 1   SEND_CTPV_NM            887261 non-null  object
 2   SEND_CTPV_CD            887261 non-null  float64
 3   SEND_CTGG_NM            649995 non-null  object
 4   SEND_CTGG_CD            649995 non-null  float64
 5   REC_CTPV_NM             887261 non-null  object
 6   REC_CTPV_CD             887260 non-null  float64
 7   FURNITURE/INTERIOR      887260 non-null  float64
 8   ETC                     887260 non-null  float64
 9   BOOK/RECORD             887260 non-null  float64
 10  DITIGAL/HOME APPLIANCE  887260 non-null  float64
 11  LIFE/HEALTH             887260 non-null  float64
 12  SPORTS                  887260 non-null  float64
 13  FOOD                    887260 non-null  float64
 14  MATERNITY SUPPLIES      887260 non-null  float64
 15  CLOTHING                887260 non-null  float64
 16  MISCELLANEOUS GOODS     887260 non-null  float64
 17  COSTMETICS/BEAUTY       887260 non-null  float64
 18  REC_CTGG_NM             585466 non-null  object
 19  REC_CTGG_CD             585466 non-null  float64
 20  TOTAL                   887261 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 142.2+ MB

In [31]:
import numpy as np
columns_to_fill = ['FURNITURE/INTERIOR', 'ETC', 'BOOK/RECORD', 'FOOD', 'MATERNITY SUPPLIES', 'CLOTHING', 'MISCELLANEOUS GOODS',
                   'COSTMETICS/BEAUTY', 'DITIGAL/HOME APPLIANCE', 'LIFE/HEALTH', 'SPORTS']
concatenated_df[columns_to_fill] = concatenated_df[columns_to_fill].fillna(0)

print(concatenated_df)

            DATE SEND_CTPV_NM  SEND_CTPV_CD SEND_CTGG_NM  SEND_CTGG_CD  \
0       20210108        서울특별시          11.0          노원구       11350.0
1       20210108        서울특별시          11.0          노원구       11350.0
2       20210108        서울특별시          11.0          노원구       11350.0
3       20210108        서울특별시          11.0          노원구       11350.0
4       20210108        서울특별시          11.0          노원구       11350.0
...          ...          ...           ...          ...           ...
887256  20230831        서울특별시          11.0          양천구       11470.0
887257  20230831        서울특별시          11.0          양천구       11470.0
887258  20230831        서울특별시          11.0          양천구       11470.0
887259  20230831        서울특별시          11.0          양천구       11470.0
887260  20230831        서울특별시          11.0          양천구       11470.0

       REC_CTPV_NM  REC_CTPV_CD  FURNITURE/INTERIOR    ETC  BOOK/RECORD  ...  \
0            부산광역시         26.0                60.0  171.0         22.0  ...
1            대구광역시         27.0                42.0  118.0         30.0  ...
2            인천광역시         28.0                73.0  221.0         35.0  ...
3            광주광역시         29.0                22.0   86.0         15.0  ...
4            대전광역시         30.0                37.0   85.0          8.0  ...
...            ...          ...                 ...    ...          ...  ...
887256       서울특별시         11.0                 0.0   21.0          7.0  ...
887257       서울특별시         11.0                 0.0   16.0         11.0  ...
887258       서울특별시         11.0                 3.0   35.0         16.0  ...
887259       서울특별시         11.0                 5.0   28.0         10.0  ...
887260       서울특별시         11.0                 4.0   10.0          4.0  ...

        LIFE/HEALTH  SPORTS   FOOD  MATERNITY SUPPLIES  CLOTHING  \
0             228.0    74.0  127.0                45.0     269.0
1             156.0    39.0  118.0                36.0     197.0
2             230.0    73.0  162.0                49.0     303.0
3              98.0    30.0   81.0                23.0     140.0
4             126.0    37.0   71.0                36.0     143.0
...             ...     ...    ...                 ...       ...
887256         27.0     3.0   10.0                 0.0      13.0
887257         28.0     4.0    7.0                 0.0      16.0
887258         44.0    11.0   10.0                17.0      29.0
887259         30.0     4.0   13.0                 0.0      24.0
887260         19.0     0.0    8.0                 0.0      14.0

        MISCELLANEOUS GOODS  COSTMETICS/BEAUTY  REC_CTGG_NM REC_CTGG_CD  \
0                      96.0               98.0          NaN         NaN
1                      52.0               53.0          NaN         NaN
2                      80.0               89.0          NaN         NaN
3                      39.0               46.0          NaN         NaN
4                      48.0               50.0          NaN         NaN
...                     ...                ...          ...         ...
887256                 19.0                9.0          관악구     11620.0
887257                 17.0                5.0          서초구     11650.0
887258                 37.0               25.0          강남구     11680.0
887259                 20.0               27.0          송파구     11710.0
887260                 11.0               13.0          강동구     11740.0

         TOTAL
0       1256.0
1        893.0
2       1380.0
3        616.0
4        672.0
...        ...
887256   127.0
887257   133.0
887258   244.0
887259   181.0
887260    95.0

[887261 rows x 21 columns]

In [32]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887261 entries, 0 to 887260
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DATE                    887261 non-null  int64
 1   SEND_CTPV_NM            887261 non-null  object
 2   SEND_CTPV_CD            887261 non-null  float64
 3   SEND_CTGG_NM            649995 non-null  object
 4   SEND_CTGG_CD            649995 non-null  float64
 5   REC_CTPV_NM             887261 non-null  object
 6   REC_CTPV_CD             887260 non-null  float64
 7   FURNITURE/INTERIOR      887261 non-null  float64
 8   ETC                     887261 non-null  float64
 9   BOOK/RECORD             887261 non-null  float64
 10  DITIGAL/HOME APPLIANCE  887261 non-null  float64
 11  LIFE/HEALTH             887261 non-null  float64
 12  SPORTS                  887261 non-null  float64
 13  FOOD                    887261 non-null  float64
 14  MATERNITY SUPPLIES      887261 non-null  float64
 15  CLOTHING                887261 non-null  float64
 16  MISCELLANEOUS GOODS     887261 non-null  float64
 17  COSTMETICS/BEAUTY       887261 non-null  float64
 18  REC_CTGG_NM             585466 non-null  object
 19  REC_CTGG_CD             585466 non-null  float64
 20  TOTAL                   887261 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 142.2+ MB

In [33]:
concatenated_df['DATE'].max()

20230831

In [34]:
from google.colab import files

In [35]:
concatenated_df.to_csv('concatenated_df.csv', encoding='utf-8', index=False)

# Download the CSV file
from google.colab import files
files.download('concatenated_df.csv')

In [7]:
from google.colab import files
concatenated_df.to_csv('concatenated_df.csv', index=False)
files.download("concatenated_df.csv")

NameError: ignored

END